<nav class="main-nav">
    <ul class="main-nav__unordered-list">
        <li><a href="/" class="<%= baseRoute === '/' ? 'active' : '' %>">
                <h1 style="display: inline">Shopfront</h1>
            </a></li>
        <li><a href="/admin" class="<%= baseRoute === '/admin' ? 'active' : '' %>">Admin</a></li>
        <li><a href="/shop" class="<%= baseRoute === '/shop' ? 'active' : '' %>">Shop</a></li>
    </ul>
</nav>