<!DOCTYPE html>
<html lang="en">

<head>
    <title>Storefront</title>
    <link rel="stylesheet" href="/css/landing.css">
    <%- include('includes/main-head.ejs') %>
</head>

<body class="landing-body">
    <header>
        <%- include('./includes/nav.ejs') %>
    </header>
</body>

</html>