.landing-body {
    background-image: url('https://images.unsplash.com/photo-1531813119282-cd4d545af976?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1782&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}