body {
  margin: 0px;
}

.main-nav {
  margin: 0px;
  padding: 20px;
  background-color: orange;
}

.main-nav__unordered-list {
  list-style: none;
}

.main-nav__unordered-list li {
    padding: 20px 20px 20px 20px;
    display: inline;
}

.main-nav__unordered-list li a{
  font-size: large;
  color: rgba(255, 255, 255, 0.514);
  text-decoration: none;
}

.main-nav__unordered-list li a.active {
  font-size: larger;
  color: white;
}